C:\tszdk_praktika31.zip_expanded\tszdk_praktika31\src\results\*
\tszdk_praktika31.zip_expanded\tszdk_praktika31\src\results\*
*\tszdk_praktika31.zip_expanded\tszdk_praktika31\src\results\*
\tszdk_praktika31.zip_expanded\tszdk_praktika31\src\results\*
